= sidebar title: "Stats" do
  %ul.stats.nav.nav-list
    %li= "#{pomodoros.done_this_week.size} pomodoros this week"
    %li= "#{pomodoros.done_this_month.size} pomodoros this month"
    %li= "#{pomodoros.size} pomodoros in overall"
