.panel.panel-default

  .panel-heading
    %h1.panel-title Pomodoros

  .panel-body
    #calendar

    = form_tag delete_multiple_or_assign_pomodoros_path, method: :post, class: 'form-inline' do
      = number_field_tag 'start'
      = number_field_tag 'end'
      = button_tag glyph(:remove) + "Delete pomodoros", class: 'btn btn-default', name: 'delete_multiple', data: { confirm: "Are you sure?" }
      .form-group
        %label.sr-only{for: 'project'} Project
        = select_tag "Project", options_from_collection_for_select(projects, "id", "name"),
          name: "project", class: 'form-control', prompt: 'Select a project'
      = button_tag glyph(:tags) + "Assign pomodoros", class: 'btn btn-default', name: 'assign'
      = render 'table'

= render 'stats_sidebar'
