.well
  %h1 Your pomodoros

  %ul.pomodoros
    - pomodoros.each do |pomodoro|
      %li
        Pomodoro:
        = pomodoro.duration[:diff]

  %ul.stats
    %li= "#{pomodoros.done_this_week.size} pomodoros this week"
    %li= "#{pomodoros.done_this_month.size} pomodoros this month"
    %li= "#{pomodoros.size} pomodoros in overall"
