.col-md-3
  .panel.panel-default
    .panel-heading= title
    .panel-body
      .progress
        .progress-bar{style: "width: #{(part_count.to_f / total_count)*100}%"}
      %p
        = "#{pluralize(part_count, "pomodoro")} done."
      %p.text-muted
        = surround '(', ')' do
          = number_to_percentage (part_count.to_f / total_count)*100, precision: 0
          = "of #{pluralize(total_count, "pomodoro")}"
