.panel.panel-default
  .panel-body
    .page-header
      %h1
        = project.name
        %small= "(#{pluralize(stats['count'], "pomodoro")} in overall)"

    .btn-group
      = link_to glyph(:pencil) + "Edit", edit_project_path(project), class: 'btn btn-default'
      = link_to glyph(:remove) + "Delete", project, method: :delete, class: 'btn btn-default', data: { confirm: "Are you sure?" }

    %h3 Monthly breakdown

    .row
      - stats['months'].each do |month, month_values|
        = render partial: 'stats_panel',
          locals: { title: Date.parse("#{month}-01").to_s(:month_and_year),
          part_count: month_values['count'],
          total_count: stats['count'] }

    %h3 Weekly breakdown

    - stats['months'].each do |month, month_values|
      .panel.panel-default
        .panel-heading
          %h4.panel-title= Date.parse("#{month}-01").to_s(:month_and_year)
        .panel-body
          - month_values['weeks'].each do |week, week_values|
            = render partial: 'stats_panel',
              locals: { title: days_range(week_values['days'].keys.first, week_values['days'].keys.last),
              part_count: week_values['count'],
              total_count: month_values['count'] }
