#project.panel.panel-default
  .panel-body
    .page-header
      %h1
        = project.name
        %small
          = surround '(', ')' do
            = pomodoros_count stats.count
            in overall

    .btn-group
      = link_to glyph(:transfer) + "Toggle Views", '', class: 'btn btn-default', id: 'toggle_views'
      = link_to glyph(:pencil) + "Edit", edit_project_path(project), class: 'btn btn-default'
      = link_to glyph(:remove) + "Delete", project, method: :delete, class: 'btn btn-default', data: { confirm: "Are you sure?" }

    %h3 Monthly breakdown

    .row
      - stats.months.each do |month|
        = render partial: 'stats_panel',
          locals: { title: Date.parse("#{month.date}-01").to_s(:month_and_year),
          part_count: month.count,
          total_count: stats.count }

    %h3 Weekly breakdown

    - stats.months.each do |month|
      .panel.panel-default
        .panel-heading
          %h4.panel-title= Date.parse("#{month.date}-01").to_s(:month_and_year)
        .panel-body
          .col-md-3
            .panel.panel-default
              .panel-heading Calendar overview
              .panel-body
                .tiny-calendar{data: { date: month.date + "-01" } }
                  .events
                    - month.weeks.each do |week|
                      .event
                        .start= week.days.first.date
                        .end= week.days.last.date
          - month.weeks.each do |week|
            = render partial: 'stats_panel',
              locals: { title: days_range(week.days.first.date, week.days.last.date),
              part_count: week.count,
              total_count: month.count }
